@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&family=Open+Sans&display=swap');
@import '../sass/globals.scss';
$font2: 'Open Sans',
sans-serif;

.login {
    height: 100vh;
    width: 100vw;
    background-color: $bg;
    display: flex;
    justify-content: center;
    align-items: center;

    .form {
        height: auto;
        width: 35vw;
        padding: 30px;
        background-color: rgba(255, 255, 255, 0.015);
        border-radius: 10px;
        box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.5);
        font-family: $font2;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid rgba(255, 255, 255, 0.15);

        label {
            font-size: 20px;
        }

        button {
            height: 45px;
            width: auto;
            border: none;
            font-family: $font2;
            background-color: $button;
            color: #fff;
            font-size: 18px;
        }

        input {
            font-size: 16px !important;
            color: #fff;
        }
    }
}

.footer {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    background-color: rgba(255, 255, 255, 0.025);
    padding: 10px;

    .fsection {
        padding: 10px;
        height: auto;
        border-radius: 15px;
        justify-content: flex-start;
        width: 80vw;
        max-width: 1500px;
        background-color: transparent;
        gap: 100px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        img {
            height: 95%;
            max-height: 230px;
            width: auto;
            border-radius: 15px;
        }

        .socials {
            display: flex;
            gap: 15px;
            flex-direction: row;

            li {
                color: rgba(255, 255, 255, 0.5);
            }
        }

        b {
            font-size: 20px;
        }

        ul {
            display: flex;
            flex-direction: column;
            margin-left: -40px;
            list-style: none;
            font-size: 16px;
            gap: 15px;


            li {
                color: rgba(255, 255, 255, 0.5);
            }
        }


    }
}

//Media Quries For Mobiles
@media (min-width:250px) and (max-width:1024px) {

    .login .form {
        width: 80vw;
    }

    .footer .fsection {
        flex-direction: column;
        gap: 30px;
    }
}