@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&family=Open+Sans&display=swap');
@import '../sass/globals.scss';
$font2: 'Open Sans',
sans-serif;

body {
    background-color: #2A2727;
}
.grid-container{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 158px 22px;
}
.gridc{
       grid-row: 1/2;

   }

.wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #2A2727;
    color: #fff;


    .container {
        width: 100%;
        display: flex;
        max-width: 1800px;
        justify-content: flex-start;
        align-items: flex-start;

        .spinner {
            display: flex;
            flex-direction: column;
            width: 70%;
            padding-top: 30px;
            font-family: $font2;
        }

        .sidebar {
            height: auto;
            min-height: 100vh;
            position: relative;
            top: 0;
            left: 0;
            width: 20vw;
            max-width: 350px;
            padding: 2px;

            nav ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-left: -20px;

                li {
                    a {
                        text-align: left;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 15px;
                        font-size: 18px;
                        color: #fff;
                    }

                    img {
                        height: 25px;
                    }
                }
            }
        }

        .home {
            // height: 100vh;
            width: 50vw;
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .greetings {
                height: 70px;
                width: 90%;
                background-color: #fff;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                padding: 20px;
                flex-direction: column;
                gap: 5px;
                position: relative;
                box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
                color: #000;

                span {
                    font-size: 20px;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 100%;
                    gap: 10px;

                    button {
                        height: 35px;
                        width: 180px;
                        font-family: $font2;
                        background-color: #283747;
                        color: #fff;
                        border: none;
                        border-radius: 5px;
                    }
                }


            }
        }

        .posts {
            height: 100px;
            width: 75vw;

            .post-parent {
                height: auto;
                width: 100%;
                padding: 10px;

                h1 {
                    font-family: $font2;
                    font-size: 2em;
                }

                button {
                    height: 45px;
                    width: 200px;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    background-color: $button;
                    font-size: 16px;
                    font-family: $font2;
                    color: #fff;
                }

                ul {
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;



                    li div {
                        height: auto;
                        width: 300px;
                        max-height: 800px;
                        background-color: rgba(255, 255, 255, 0.1);
                        border-radius: 5px;
                        color: #fff;
                        font-family: $font2;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        padding-bottom: 10px;
                        word-wrap: break-word;

                        img {
                            height: auto;
                            width: auto;
                            max-width: 100%;
                            max-height: 80%;
                        }

                        h3 {
                            text-align: center;
                            width: 80%;
                            font-size: 16px;
                            font-family: $font2;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:250px) and (max-width:900px) {
    .wrapper .container .sidebar {
        display: none !important;
    }

    .home {
        width: 90vw !important;
    }

    .post-parent {
        width: 90vw !important;
    }

    .posts ul {
        justify-content: center;
        align-items: center;
        margin-left: -40px;
        width: 90vw !important;
    }
}