@import "../sass/globals.scss";

.users {
    width: 70%;
    height: auto;
    padding: 0px;
    margin-top: 10px;
    display: flex;
    text-align: center;

    ul {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 15px;

        li {
            height: 350px;
            width: 300px;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 15px;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;

            .user {
                height: 100%;
                width: 100%;

                .user-profile {
                    height: 30%;
                    width: 100%;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    background-color: #fff;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    z-index: 10;

                    img {
                        height: 100px;
                        width: 100px;
                        position: absolute;
                        bottom: -40px;
                        z-index: 999;
                        border-radius: 50%;
                    }
                }

                .user-info {
                    padding: 10px;
                    text-align: center;
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    span {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .counts {
                        display: flex;
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;
                        padding-bottom: 10px;
                    }

                    button {
                        height: 35px;
                        width: 180px;
                        background-color: $button;
                        color: #fff;
                        border: none;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}

@media (min-width:250px) and (max-width:1024px) {
    .users {
        width: 90%;
        margin-left: 3vw;
        justify-content: center;

        ul li {
            width: 90%;
        }
    }
}